<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php"
         verbose="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="false"
         forceCoversAnnotation="false"
         strict="false"
         processIsolation="false">
    <testsuites>
        <testsuite name="phpbrowscap Test Suite">
            <directory>./phpbrowscap/</directory>
        </testsuite>
    </testsuites>
</phpunit>
